body{
    background-color: rgb(152, 222, 240);
    color: rgb(88, 90, 226);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(247, 176, 241);
    padding: 15px;
    font-size: 30px;
    color: rgb(204, 169, 245)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 118, 136)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(226, 52, 52)
}